footer{
    margin: 0;
    padding: 2rem 2rem 0 2rem;
    background-color: black;
}

footer p {
    margin: 0;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-weight: 700;
}
.social{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.socaillogo{
    height: 80px;
    width: 80px;
}
.bottomfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
