
* {
    font-family: 'Old Standard TT', serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


h3{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 2.9rem;
    font-family: 'Kavoon', cursive;
}