@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
	color: white;
	background: linear-gradient(to bottom, black, black, #0c0e1c);
	min-width: 315px;
	min-height: 100vh;

	background: linear-gradient(to bottom, black, black, #0c0e1c);
	background-image: url(../../IMG/Navrh_bez_nazvu_2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}