 /* Service Cards */
 .service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
  }
  
  .service-card {
    text-align: center;
    align-items: center;
    border-radius: 2px;
    text-align: left;
    transition: box-shadow 0.3s;
  
  }

  .service-icon {
    font-size: 3rem;
    color: red;
    margin-bottom: 20px;
    
  }
  hr{
    margin: 0 auto;
    width: 80%;
    border: red solid 1px;

  }
  .service-photo{
    margin: 0 auto;
    align-items: center;
    width: 100%;
    height: 40vh;
    object-fit: cover; /* Zajistí, že obrázek vyplní daný prostor bez deformace */
    display: block;
  }
  .service-padding{
    padding: 60px 20px;
  }
  .know-more{
    text-align: center;
    align-items: center;
    height: 48px;
    width: 114px;
    border: solid red 1px;
    background-color: black;
    color: white;
  }
  .know-more:hover{
    background-color: red;
    transition: .5s;
    cursor: pointer;
  }
  .service-button{
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .service-title {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  
  .service-description {
    text-align: center;
    align-items: center;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 3rem;
  }
  #services{
    background: linear-gradient(to bottom, black,black,black, #0c0e1c);
  
  }
  